#!/bin/sh

cd {{ run_script_dir_path }}

# Activate virtualenv for linchpin
source {{virtualenv_linchpin_path}}/bin/activate

# Separator in the log
echo "TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT" >> {{ log_file_name }}
echo $(date) >> {{ log_file_name }}

# Run the test
./run_tests_in_cloud.sh 2>&1 | tee -a {{ log_file_name }}

# Instead of running the test, to only check if linchpin is installed and set up correctly, you can use:
#linchpin --version 2>&1 | tee -a {{ log_file_name }}
