[MESSAGES CONTROL]

disable = empty-docstring,
          fixme,
          missing-docstring,
          missing-module-docstring,
          no-name-in-module,
          redefined-outer-name,
          unnecessary-pass,
          unspecified-encoding,
          C,
          R

[FORMAT]

disable = consider-using-f-string,
          line-too-long,
          logging-format-interpolation,

[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist= pycurl

[IMPORTS]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis. It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=rpmfluff,jinja2,pycurl
