name: daily fedora-eln
description: Daily run on a Fedora ELN compose
point_person: rvykydal@redhat.com
artifact_type: github.scheduled.daily.kstest.fedora-eln
verified_by:
  test_cases:
    query: '
{% for tag in skiptags %}
            "{{ tag }}" not in tc.tags and
{% endfor %}
            True'
configurations:
  - architecture: x86_64
reporting:
  - type: xunit
