# Build Rawhide boot.iso daily
name: Build daily Rawhide+COPR boot.iso
on:
  schedule:
    - cron: 0 22 * * *
  # be able to start this action manually from a actions tab when needed
  workflow_dispatch:

jobs:
  boot_iso:
    name: Build boot.iso
    runs-on: [self-hosted, kstest]
    env:
      ISO_BUILD_CONTAINER_NAME: quay.io/rhinstaller/anaconda-iso-creator
      CI_TAG: fedora-rawhide

    steps:
      - name: Clean up previous run
        run: |
          sudo podman ps -q --all --filter='ancestor=kstest-runner' | xargs -tr sudo podman rm -f
          sudo podman volume rm --all || true
          sudo rm -rf * .git

      - name: Check out kickstart-tests
        uses: actions/checkout@v4
        with:
          repository: rhinstaller/kickstart-tests
          path: kickstart-tests
          fetch-depth: 0

      - name: Ensure http proxy is running
        run: sudo kickstart-tests/containers/squid.sh start

      - name: Set up host loop devices
        run: |
          # We have to pre-create loop devices because they are not namespaced in kernel so
          # podman can't access newly created ones. That caused failures of tests when runners
          # were rebooted.
          sudo mknod -m 0660 /dev/loop0 b 7 0  2> /dev/null || true
          sudo mknod -m 0660 /dev/loop1 b 7 1  2> /dev/null || true

      - name: Build boot.iso
        run: |
          mkdir -p /tmp/lorax-images
          # /var/tmp tmpfs speeds up lorax and avoids https://bugzilla.redhat.com/show_bug.cgi?id=1906364
          # The container's /lorax-build script already includes the base Fedora rawhide repo
          # We pass additional COPR repos as arguments
          echo "::group::Build boot.iso with the RPMs"
          sudo podman run -i --rm --privileged --env CI_TAG=${{ env.CI_TAG }} \
            --tmpfs /var/tmp:rw,mode=1777 \
            -v /tmp/lorax-images:/images:z \
            ${{ env.ISO_BUILD_CONTAINER_NAME }}:${{ env.CI_TAG }} \
            -s https://download.copr.fedorainfracloud.org/results/rpmsoftwaremanagement/dnf-nightly/fedora-rawhide-x86_64/ \
            -s https://download.copr.fedorainfracloud.org/results/rpmsoftwaremanagement/dnf5-unstable/fedora-rawhide-x86_64/ \
            -s https://download.copr.fedorainfracloud.org/results/@rhinstaller/Anaconda/fedora-rawhide-x86_64/ \
            -s https://copr-be.cloud.fedoraproject.org/results/@storage/blivet-daily/fedora-rawhide-x86_64/ \
            -s https://copr-be.cloud.fedoraproject.org/results/@storage/udisks-daily/fedora-rawhide-x86_64/
          echo "::endgroup::"

      - name: Tear down loop devices
        if: always()
        run: |
          sudo losetup -d /dev/loop0 2> /dev/null || true
          sudo losetup -d /dev/loop1 2> /dev/null || true

      - name: Upload log artifacts
        uses: actions/upload-artifact@v6
        with:
          name: logs
          path: |
            /tmp/lorax-images/*.log
            /tmp/lorax-images/*.txt

      - name: Upload image artifacts
        uses: actions/upload-artifact@v6
        with:
          name: images
          path: |
            /tmp/lorax-images/boot.iso
